/**** Backgrounds ****/

$main-background-light: hsl(0, 0%, 90%);
$keypad-toggle-background-light: (0, 5%, 81%);
$screen-background-light: hsl(0, 0%, 93%);

/**** Keys ****/

$key-background-light: hsl(185, 42%, 37%);
$key-shadow-light: hsl(185, 58%, 25%);

$key-light: hsl(25, 98%, 40%);
$key-brown-light: hsl(25, 99%, 27%);

$key-background-two-light: hsl(45, 7%, 89%);
$key-shadow-two-light: hsl(35, 11%, 61%);

/**** Text ****/

$text-gray: hsl(60, 10%, 19%);
