
html,
body {
  height: 100%;
  width: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  -webkit-transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.dark {
  color: white;
  background-color: #3a4764;
}

body.light {
  color: #35352c;
  background-color: #e6e6e6;
}

body.custom {
  color: #ffe53d;
  background-color: #160628;
}

#calc-app {
  width: 540px;
  max-height: 708px;
  margin: auto;
}

#calc-app .calc-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  margin-bottom: 32px;
}

#calc-app .calc-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#calc-app .calc-theme h2 {
  margin-right: 21px;
  margin-top: 31px;
  font-size: 12px;
  text-transform: uppercase;
}

#calc-app .calc-theme .toggler {
  width: 71px;
}

#calc-app .calc-theme .toggler .labels ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5px;
}

#calc-app .calc-theme .toggler .labels ul li:nth-last-child(2) {
  margin-left: 13px;
  margin-right: 13px;
}

#calc-app .calc-theme .toggler .switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  border-radius: 13px;
  height: 26px;
  position: relative;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

#calc-app .calc-theme .toggler .switcher.dark {
  background-color: #232c43;
}

#calc-app .calc-theme .toggler .switcher.light {
  background-color: 0, 5%, 81%;
}

#calc-app .calc-theme .toggler .switcher.custom {
  background-color: #1d0934;
}

#calc-app .calc-theme .toggler .switcher input {
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

#calc-app .calc-theme .toggler .switcher span {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  left: 6px;
}

#calc-app .toggler .switcher input[value='dark']:checked ~ span {
  left: 6px;
  background-color: #d03f2f;
}

#calc-app .toggler .switcher input[value='light']:checked ~ span {
  left: 27px;
  background-color: #377f86;
}

#calc-app .toggler .switcher input[value='custom']:checked ~ span {
  left: 49px;
  background-color: #00e0d1;
}

#calc-app .calc-display {
  min-height: 128px;
  border-radius: 10px;
  margin-bottom: 24px;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 48px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#calc-app .calc-display.dark {
  background-color: #182034;
}

#calc-app .calc-display.light {
  background-color: #ededed;
}

#calc-app .calc-display.custom {
  background-color: #1d0934;
}

#calc-app .calc-display .current-number {
  width: 100%;
  text-align: end;
  padding-right: 32px;
  height: 56px;
}

#calc-app .calc-display .previous-number {
  width: 100%;
  font-size: 22px;
  text-align: start;
  padding-left: 32px;
  height: 26px;
}

#calc-app .calc-keyboard {
  height: 480px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 32px 32px 32px 32px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  font-weight: 600;
  -webkit-transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

#calc-app .calc-keyboard.dark {
  background-color: #232c43;
  color: #444b5a;
}

#calc-app .calc-keyboard.light {
  background-color: 0, 5%, 81%;
  color: #35352c;
}

#calc-app .calc-keyboard.custom {
  background-color: #1d0934;
  color: #ffe53d;
}

#calc-app .calc-keyboard .calc-button {
  border: none;
  height: 64px;
  width: 101px;
  border-radius: 10px;
  margin-right: 22px;
  margin-bottom: 24px;
  text-transform: uppercase;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.9;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
  -webkit-box-shadow: 0px 6px 0px 0px #b4a597;
          box-shadow: 0px 6px 0px 0px #b4a597;
}

#calc-app .calc-keyboard .calc-button:hover {
  opacity: 1;
}

#calc-app .calc-keyboard .calc-button.dark {
  background-color: #eae3dc;
}

#calc-app .calc-keyboard .calc-button.light {
  background-color: #e5e4e1;
}

#calc-app .calc-keyboard .calc-button.custom {
  background-color: #58077d;
  -webkit-box-shadow: 0px 6px 0px 0px #871c9c;
          box-shadow: 0px 6px 0px 0px #871c9c;
}

#calc-app .calc-keyboard .calc-button:nth-child(4),
#calc-app .calc-keyboard .calc-button:nth-child(17) {
  font-size: 20px;
  -webkit-transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
  -webkit-box-shadow: 0px 6px 0px 0px #404e72;
          box-shadow: 0px 6px 0px 0px #404e72;
}

#calc-app .calc-keyboard .calc-button:nth-child(4).dark,
#calc-app .calc-keyboard .calc-button:nth-child(17).dark {
  background-color: #637097;
  color: white;
}

#calc-app .calc-keyboard .calc-button:nth-child(4).light,
#calc-app .calc-keyboard .calc-button:nth-child(17).light {
  background-color: #377f86;
  color: white;
}

#calc-app .calc-keyboard .calc-button:nth-child(4).custom,
#calc-app .calc-keyboard .calc-button:nth-child(17).custom {
  background-color: #58077d;
  -webkit-box-shadow: 0px 6px 0px 0px #871c9c;
          box-shadow: 0px 6px 0px 0px #871c9c;
}

#calc-app .calc-keyboard .calc-button:nth-child(4),
#calc-app .calc-keyboard .calc-button:nth-child(8),
#calc-app .calc-keyboard .calc-button:nth-child(12),
#calc-app .calc-keyboard .calc-button:nth-child(16) {
  margin-right: 0;
}

#calc-app .calc-keyboard .calc-button:nth-child(17),
#calc-app .calc-keyboard .calc-button:nth-child(18) {
  width: 227px;
  margin-bottom: 0;
}

#calc-app .calc-keyboard .calc-button:nth-child(18) {
  margin-right: 0;
  -webkit-transition: background-color 500ms ease-in-out, color 500ms ease-in-out, -webkit-box-shadow 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out, -webkit-box-shadow 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out, box-shadow 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out, box-shadow 500ms ease-in-out, -webkit-box-shadow 500ms ease-in-out;
  -webkit-box-shadow: 0px 6px 0px 0px #93261a;
          box-shadow: 0px 6px 0px 0px #93261a;
}

#calc-app .calc-keyboard .calc-button:nth-child(18).dark {
  background-color: #d03f2f;
  color: white;
}

#calc-app .calc-keyboard .calc-button:nth-child(18).light {
  background-color: #ca5502;
  color: white;
  -webkit-box-shadow: 0px 6px 0px 0px #893901;
          box-shadow: 0px 6px 0px 0px #893901;
}

#calc-app .calc-keyboard .calc-button:nth-child(18).custom {
  background-color: #00e0d1;
  color: #1b2428;
  -webkit-box-shadow: 0px 6px 0px 0px #6cf9f2;
          box-shadow: 0px 6px 0px 0px #6cf9f2;
}


/*# sourceMappingURL=/styles.f43277d9.css.map */