/********* COLORS *********/

/**** Backgrounds ****/

/* Dark */

$main-background: hsl(222, 26%, 31%);
$keypad-toggle-background: hsl(223, 31%, 20%);
$screen-background: hsl(224, 36%, 15%);

/* Light */

$main-background-light: hsl(0, 0%, 90%);
$keypad-toggle-background-light: (0, 5%, 81%);
$screen-background-light: hsl(0, 0%, 93%);

/* Custom */

$main-background-custom: hsl(268, 75%, 9%);
$keypad-toggle-background-custom: hsl(268, 71%, 12%);
$screen-background-custom: hsl(268, 71%, 12%);

/**** Keys ****/

/* Dark */

$key-background: hsl(225, 21%, 49%);
$key-shadow: hsl(224, 28%, 35%);

$key-red: hsl(6, 63%, 50%);
$key-dark-red: hsl(6, 70%, 34%);

$key-background-two: hsl(30, 25%, 89%);
$key-shadow-two: hsl(28, 16%, 65%);

/* Light */

$key-background-light: hsl(185, 42%, 37%);
$key-shadow-light: hsl(185, 58%, 25%);

$key-light: hsl(25, 98%, 40%);
$key-brown-light: hsl(25, 99%, 27%);

$key-background-two-light: hsl(45, 7%, 89%);
$key-shadow-two-light: hsl(35, 11%, 61%);

/* Custom */

$key-background-custom: hsl(281, 89%, 26%);
$key-shadow-custom: hsl(285, 91%, 52%);

$key-custom: hsl(176, 100%, 44%);
$key-dark-custom: hsl(177, 92%, 70%);

$key-background-two-custom: hsl(268, 47%, 21%);
$key-shadow-two-custom: hsl(290, 70%, 36%);

/**** Text ****/

/* Dark */

$text-blue: hsl(221, 14%, 31%);
$text-white: hsl(0, 0, 100%);

/* Light */

$text-gray: hsl(60, 10%, 19%);

/* Custom */

$text-yellow: hsl(52, 100%, 62%);
$text-dark-blue: hsl(198, 20%, 13%);

/********* CODE *********/

html,
body {
  height: 100%;
  width: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
  display: flex;

  &.dark {
    color: $text-white;
    background-color: $main-background;
  }

  &.light {
    color: $text-gray;
    background-color: $main-background-light;
  }

  &.custom {
    color: $text-yellow;
    background-color: $main-background-custom;
  }
}

#calc-app {
  width: 540px;
  margin: auto;

  .calc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    margin-bottom: 32px;
  }

  .calc-theme {
    display: flex;

    h2 {
      margin-right: 21px;
      margin-top: 31px;
      font-size: 12px;
      text-transform: uppercase;
    }

    .toggler {
      width: 71px;

      .labels {
        ul {
          display: flex;
          list-style-type: none;
          justify-content: center;
          padding-left: 5px;

          li:nth-last-child(2) {
            margin-left: 13px;
            margin-right: 13px;
          }
        }
      }
      .switcher {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5px;
        border-radius: 13px;
        height: 26px;
        position: relative;
        transition: background-color 500ms ease-in-out;

        &.dark {
          background-color: $keypad-toggle-background;
        }

        &.light {
          background-color: $keypad-toggle-background-light;
        }

        &.custom {
          background-color: $keypad-toggle-background-custom;
        }

        input {
          z-index: 3;
          cursor: pointer;
          opacity: 0;
        }

        span {
          height: 16px;
          width: 16px;
          border-radius: 50%;
          position: absolute;
          z-index: 2;
          transition: all 0.3s ease-in-out;
          left: 6px;
        }
      }
    }
  }

  .toggler .switcher input[value="dark"]:checked ~ span {
    left: 6px;
    background-color: $key-red;
  }
  .toggler .switcher input[value="light"]:checked ~ span {
    left: 27px;
    background-color: $key-background-light;
  }
  .toggler .switcher input[value="custom"]:checked ~ span {
    left: 49px;
    background-color: $key-custom;
  }

  .calc-display {
    height: 128px;
    border-radius: 10px;
    margin-bottom: 24px;
    padding-right: 32px;
    transition: background-color 500ms ease-in-out;
    display: flex;
    justify-content: flex-end;
    font-size: 48px;
    font-weight: 600;
    align-items: center;

    &.dark {
      background-color: $screen-background;
    }

    &.light {
      background-color: $screen-background-light;
    }

    &.custom {
      background-color: $screen-background-custom;
    }
  }

  .calc-keyboard {
    height: 480px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 32px 32px 32px 32px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;

    &.dark {
      background-color: $keypad-toggle-background;
      color: $text-blue;
    }

    &.light {
      background-color: $keypad-toggle-background-light;
      color: $text-gray;
    }

    &.custom {
      background-color: $keypad-toggle-background-custom;
      color: $text-yellow;
    }

    .calc-button {
      height: 64px;
      width: 101px;
      border-radius: 10px;
      margin-right: 22px;
      margin-bottom: 24px;
      text-transform: uppercase;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.9;
      transition: background-color 500ms ease-in-out;
      box-shadow: 0px 6px 0px 0px $key-shadow-two;

      &.dark {
        background-color: $key-background-two;
      }

      &.light {
        background-color: $key-background-two-light;
      }

      &.custom {
        background-color: $key-background-custom;
        box-shadow: 0px 6px 0px 0px $key-shadow-two-custom;
      }

      p {
        margin: auto;
      }
    }

    .calc-button:hover {
      opacity: 1;
    }

    .calc-button:nth-child(4),
    .calc-button:nth-child(17) {
      font-size: 20px;
      transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
      box-shadow: 0px 6px 0px 0px $key-shadow;

      &.dark {
        background-color: $key-background;
        color: $text-white;
      }

      &.light {
        background-color: $key-background-light;
        color: $text-white;
      }

      &.custom {
        background-color: $key-background-custom;
        box-shadow: 0px 6px 0px 0px $key-shadow-two-custom;
      }
    }

    .calc-button:nth-child(4),
    .calc-button:nth-child(8),
    .calc-button:nth-child(12),
    .calc-button:nth-child(16) {
      margin-right: 0;
    }

    .calc-button:nth-child(17),
    .calc-button:nth-child(18) {
      width: 227px;
      margin-bottom: 0;
    }

    .calc-button:nth-child(18) {
      margin-right: 0;
      transition: background-color 500ms ease-in-out, color 500ms ease-in-out,
        box-shadow 500ms ease-in-out;
      box-shadow: 0px 6px 0px 0px $key-dark-red;

      &.dark {
        background-color: $key-red;
        color: $text-white;
      }

      &.light {
        background-color: $key-light;
        color: $text-white;
        box-shadow: 0px 6px 0px 0px $key-brown-light;
      }

      &.custom {
        background-color: $key-custom;
        color: $text-dark-blue;
        box-shadow: 0px 6px 0px 0px $key-dark-custom;
      }
    }
  }
}
