/**** Backgrounds ****/

$main-background-custom: hsl(268, 75%, 9%);
$keypad-toggle-background-custom: hsl(268, 71%, 12%);
$screen-background-custom: hsl(268, 71%, 12%);

/**** Keys ****/

$key-background-custom: hsl(281, 89%, 26%);
$key-shadow-custom: hsl(285, 91%, 52%);

$key-custom: hsl(176, 100%, 44%);
$key-dark-custom: hsl(177, 92%, 70%);

$key-background-two-custom: hsl(268, 47%, 21%);
$key-shadow-two-custom: hsl(290, 70%, 36%);

/**** Text ****/

$text-yellow: hsl(52, 100%, 62%);
$text-dark-blue: hsl(198, 20%, 13%);
